.test {
  border: 1px solid red;
}

.container {
  overflow: hidden;
}

.questions-container {
  position: relative;
  height: 300px;
}

.start-container,
.question-container {
  position: absolute;
  height: 300px;
  left: 0;
  top: 0;
  transition: 1s ease;
}

.inactive {
  left: 100%;
}

.done {
  left: -100%;
}

.form-option {
  display: block;
}

/* radio buttons  */
input[type=checkbox], input[type=radio] {
  margin: 5px;
}

.result-div {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}