<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Careers App</title>
  <!-- vue cdn  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- bootstap 4 cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- custom css  -->
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <div id="app" class="ca-container" >

    <!-- landing and questions container  -->
    <div class="row ca-questions-container" v-bind:style="{ height: questionsContainerHeight + 'px' }">
      <!-- starting menu/container  -->
      <div class="col-12 p-0 ca-start-container" v-bind:class="{ done: quizStarted }">
        <div class="row ca-questions-row ca-max-width pl-md-5 pr-md-5">
          <div class="col-12 pt-3 pb-3 pb-lg-5 text-center">
            <h2>Careers in Physics and Beyond</h2>
          </div>
          <div class="col-12 col-lg-6">
            <p class="pb-3">Not sure what you can do with your physics degree?</p>
            <p class="pb-3">Use our Career Compass to discover more!</p>
            <p class="pb-3">Explore all the different paths a Physics degree opens once you graduate. From Physics focused research to the healthcare industry, finance, uniform services and everything in between.</p>
            <h3 class="pt-3 pb-3">1. Watch the Video</h3>
            <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l9vdnPD5MBM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-12 col-lg-6 d-flex align-items-center">
            <div class="ca-content-container">
              <h3 class="pt-3 pb-3">2. How it Works</h3>
              <p class="pb-3">The Career Compass uses a tree structure containing 3 questions designed to begin your thought process on what you would like your ideal career/job to have. Don't forget that if your unsure about your preferences or like more than one option, you can always click back to change your answers and see a different list of careers.</p>
              <button class="ca-button ca-button-start" v-on:click="quizStart">Start Quiz</button>
            </div>
          </div>
          <div class="col-12 pt-3 pb-3">
            <p>With thanks to ....</p>
          </div>
        </div>
      </div>

      <!-- questions  -->
      <div class="col-12 p-0 text-center ca-question-container"  v-for="(question, index) in allQuestions" v-bind:class="question.questionClass">
        <div class="row ca-max-width ca-questions-row">
          <!-- header  -->
          <div class="col-12 pt-3 pb-3 pb-lg-5 text-center">
            <h2>{{question.questionHeader}}</h2>
          </div>
          <!-- image and circles  -->
          <div class="col-12 pt-3 col-lg-5 order-lg-2">
            <div class="row">
              <div class="col-12">
                <img class="ca-question-img"  :src="'./img/' + question.questionImg" v-bind:alt="question.questionImgAlt" >
              </div>
            </div>
            <div class="row">
              <div class="col-12 pt-3 pb-3 ca-question-circles-container">
                <div class="ca-question-circle" v-for="(question, index) in allQuestions" v-bind:class="question.questionClass">
                  <p>{{index + 1}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- question and checkboxes  -->
          <div class="col-12 col-lg-5 offset-lg-1 order-lg-1 pt-lg-3 text-left ca-question-text-container">
            <!-- question text  -->
            <div class="row">
              <div class="col-12">
                <h3 class="pt-3 pb-3">{{question.questionTitle}}</h3>
                <label class="form-option" v-for="option in question.options">
                  <input type="radio" v-bind:name="question.questionTitle" v-bind:id="option.index" v-bind:value="option.value" v-model="question.questionAnswerValue" v-on:change="setAnswerText($event, index)"/>{{option.text}}
                </label>
              </div>
            </div>
            <!-- buttons  -->
            <div class="row mt-3 mb-3">
              <div class="col-6">
                <button class="ca-button ca-button-prev" v-on:click="prevQuestion(index)">Back</button>
              </div>
              <!-- this won't display until response provided or on last question  -->
              <div class="col-6" v-if="question.questionAnswerValue && index < allQuestions.length - 1">
                <button class="ca-button ca-button-next" v-on:click="nextQuestion(index)">Next</button>
              </div>
              <div class="col-6" v-if="question.questionAnswerValue && index == allQuestions.length - 1">
                <a href="#matches"><button class="ca-button ca-button-next">Results</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- results - shows if all questions have been answered  -->
    <div class="row ca-results-row ca-max-width" v-if="allQuestions.every(qu => qu.questionAnswerValue) && quizStarted">
      <div class="col-12 col-lg-10 offset-lg-1 pt-4 pb-3">
        <h3 id="matches" class="pl-md-3">Your Job Matches</h3>
      </div>
      <div class="col-12 col-lg-10 offset-lg-1 pl-2 pr-2" v-if="careerFilter.length > 0">
        <div class="row m-0">
          <div class="col-6 col-lg-3 ca-result-div" v-for="career in careerFilter"  >
            <div class="ca-results-image-container text-center">
              <a class="ca-career-link" v-bind:href="career.link" target="_blank" tabindex="1">
                <img class="ca-career-image" :src="'./img/' + career.img" v-bind:alt="career.imgAlt">
                <h4 class="ca-career-title">{{career.title}}</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- if no results found  -->
      <div class="col-12" v-else>
        <h4 class="pl-3">No matches found...</h4>
      </div>
    </div>

  </div>
  
  <script src="./js/app.js"></script>
</body>
</html>