<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Careers App</title>
  <!-- vue cdn  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- bootstap 4 cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <div id="app" class="container" >
    <div class="row">
      <!-- starting menu/container  -->
      <!-- <div class="col-12 start-container" v-bind:class="{ done: quizStarted }"> -->
      <div class="col-12 start-container">
        <h1>Start App</h1>
        <button v-on:click="quizStarted = !quizStarted">General</button>
      </div>

      <!-- questions  -->
      <div class="col-12 text-center question-container test" v-for="(question, index) in allQuestions" v-if="index == 0 || index > 0 && allQuestions[index-1].questionAnswer">
      <!-- <div class="col-12 text-center question-container inactive test"  v-for="(question, index) in allQuestions" v-bind:class="{ inactive: !allQuestions[1].questionAnswer }">  -->
        <h1>{{question.questionTitle}}</h1>
        <label class="form-option" v-for="option in question.options">
          <input type="radio" v-bind:name="question.questionTitle" v-bind:id="option.index" v-bind:value="option.value" v-model="question.questionAnswer"/>{{option.text}}
        </label>
        <h5>Answer: {{question.questionAnswer}}</h5>
      </div>

      <!-- results - shows if all questions have been answered  -->
      <div class="col test" v-for="career in careerFilter" v-if="allQuestions.every(qu => qu.questionAnswer)">
        <h2>{{career.title}}</h2>
        <ul v-for="info in career.information">
          <li>{{info}}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <script src="./js/app.js"></script>
</body>
</html>